$primaryBlueColor:#0B1326;
$secondaryPinkColor: #933F4F;

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
}

@media (min-width: 320px) and (orientation: portrait) {

    html,
    body {
        overflow-x: hidden;
    }

    header {
        background-size: cover;
        background-position: 40%;

        nav {
            display: none;
        }

        h1 {
            align-self: flex-start;
            margin-top: 40%;
            font-size: 3.5em;
            text-shadow: -1.5px -1.5px 2px #111, 1.5px -1.5px 2px #111, -1.5px 1.5px 2px #111, 1.5px 1.5px 2px #111;

        }

        p.logo__description {
            font-size: 1.2em;
            top: 50%;
            letter-spacing: 0.2em;
        }

        a.scroll__arrow {
            top: 80%;
            width: 65px;
            height: 65px;
        }

        div.toggle__menu {
            top: 30px;
            right: 30px;
            height: 20px;
            width: 25px;
            transform: translate(50%, -50%);
            z-index: 100;
            visibility: visible;

            span {
                display: block;
                height: 10%;
                width: 100%;
                background-color: #fff;
                transition: .3s;

                &:nth-child(1) {

                    position: absolute;
                    top: 50%;
                }

                &:nth-child(2) {

                    position: absolute;
                    top: 100%;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 0%;
                }
            }

            span:nth-child(1).active {
                transform: rotate(-45deg);
            }

            span:nth-child(2).active {
                top: 50%;
                transform: rotate(45deg);
            }

            span:nth-child(3).active {
                top: 50%;
                transform: rotate(45deg);
            }


        }
    }

    // side menu
    div.side__menu__bg {
        width: 0%;
    }

    div.side__menu {
        right: -100%;
        width: 100%;
        border-left: none;

        div.side__menu__header {
            height: 70px;
            border-bottom: 1px solid silver;

            h2 {
                line-height: 70px;
            }

        }

        ul {

            li {
                @include flexCenter(column);
                width: 100%;
                background-color: $primaryBlueColor;
                height: 18%;
                text-align: none;

                &:last-of-type {
                    border-bottom: 1px solid silver;
                }

                a {
                    display: inline-block;
                    font-size: 1.5rem;
                    margin-bottom: 0px;

                }
            }
        }
    }

    // products 
    div.description {

        div.categories__description {
            position: absolute;
            width: 100%;
            height: 10vh;
            top: 260%;
            background-color: $primaryBlueColor;
            border: 4px solid white;
            border-right: none;
            border-left: none;
        }

        div.products__description {
            width: 100%;
        }
    }

    div.description h2 {
        font-size: 2rem;
        font-weight: 300;
    }



    // NAVIGATION

    nav.products {

        ul {
            position: absolute;
            top: 270vh;
            width: 20%;
            height: 100%;
            border-right: 4px solid blue;

            li {
                position: relative;
                width: 100%;
                border-bottom: 4px solid white;
                cursor: pointer;

                &:first-of-type {
                    border-top: 4px solid white;
                }




                div.sub-menu {
                    align-items: center;
                    width: 100%;
                    height: 50%;
                    border-top: 4px solid white;
                    display: none;

                    a {
                        font-size: 1.2em;
                        width: 100%;
                        height: 25%;
                        background-color: $primaryBlueColor;

                        &:hover {
                            background-color: #6D6C5A;
                        }
                    }
                }

                a {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 2rem;
                    //  vertical-align: middle;
                    line-height: 310%;

                    &:hover i {
                        font-size: 2.5rem;
                    }


                    i {
                        position: absolute;
                        left: 88%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 2rem;
                        color: white;

                        &.rotate {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                    }
                }
            }

            div.search__container {
                display: grid;
                grid-template: 1fr 20% 20% 1fr / 1fr 80% 1fr;
                height: 15%;
                width: 100%;
                align-items: center;

                .searchbox {
                    display: flex;
                    position: relative;
                    grid-area: 3 / 2 / 4 / 3;
                    background-color: #fff;
                    height: 35px;
                    padding-left: 10px;

                    input.search-txt {
                        font-size: 1.1rem;
                        width: 100%;
                        border: none;
                        border-right: 2px solid $primaryBlueColor;
                        background: none;
                        outline: none;
                        width: 80%;
                        height: 100%
                    }

                    a.search-btn {
                        display: block;
                        width: 20%;
                        height: 100%;
                        text-align: center;
                        background-color: $secondaryPinkColor;

                        i {
                            line-height: 35px;
                            color: white;
                            font-size: 1.2rem;
                        }
                    }
                }

                h2 {
                    grid-area: 2 / 2 / 3 / 3;
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                    letter-spacing: 10px;
                    font-weight: 300;
                }
            }
        }
    }



    //NAVIGATION END


    //PRODUCTS NEXT TO NAV


    div.products__container {
        width: 100%;
    }

    div.products__list {
        grid-template: 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6%/ 1fr 6% 1fr;
        grid-template-areas:
            "bar bar bar"
            "space space space"
            "image1 space2 image2"
            "space3 space3 space3"
            "bar2 bar2 bar2"
            "space4 space4 space4"
            "image3 space5 image4"
            "space6 space6 space6"
            "bar3 bar3 bar3"
            "space7 space7 space7"
            "image5 space8 image6"
            "space9 space9 space9"
            "bar4 bar4 bar4";
        row-gap: 5px;

    }


    div.type__of__products {

        h2 {
            color: white;
            font-size: 1.5rem;

        }
    }

    .allProducts {


        div.hov {
            display: none;
        }
    }


    div.infoAll {
        display: grid;
        grid-template: 1fr / 1fr 10% 1fr;
        width: 100%;
        height: 100%;
        background-color: $primaryBlueColor;

        p {
            color: white;
            font-size: .8rem;
            text-transform: uppercase;
        }

        .price h2 {
            color: white;
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        .price1 {
            @include flexCenter(column);
            grid-area: first;

        }

        .price2 {
            @include flexCenter(column);
            grid-area: second;
            text-align: center;
        }

        .price3 {
            display: none;
        }

    }

    div.products__info1 {
        grid-template-areas:
            "first sp second";
    }


    div.products__info2 {
        grid-template-areas:
            "first sp second";
    }

    div.productSeven {
        display: none;
    }

    div.productEight {
        display: none;
    }

    div.productNine {
        display: none;
    }

    div.products__info3 {
        grid-template-areas: "first sp second sp2 third";
    }

    //PRODUCTS NEXT TO NAV END

    .logo span {
        display: inline;
        width: 100%;
        padding: 0 3px 0 3px;
        //  padding: 0 3rem 0 3rem;
    }



    footer {
        display: none;
    }











}






@media (min-width: 360px) and(max-width:600px) and (orientation: portrait) {}