* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Unica one';
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template: 1fr / 1fr 2fr 1fr;
      grid-template-areas: "none logo ham";
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bgg.jpg);
  background-position: 50% 100%;
  background-size: 100%;
}

header nav {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  height: 10%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

header nav ul li a {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 1.8em;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

header nav ul li a::after {
  bottom: 15%;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

header h1 {
  display: inline-block;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 1 / 4;
  color: white;
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 600;
  text-shadow: -2px -2px 7px #111, 2px -2px 7px #111, -2px 2px 7px #111, 2px 2px 7px #111;
}

header p.logo__description {
  position: absolute;
  top: 70%;
  letter-spacing: .5rem;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  text-shadow: -2px -2px 3px #000, 2px -2px 3px #000, -2px 2px 3px #000, 2px 2px 3px #000;
}

header div.toggle__menu {
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 45px;
  right: 40px;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 100;
  cursor: pointer;
  visibility: hidden;
}

header div.toggle__menu.active {
  visibility: visible;
}

header div.toggle__menu.unactive {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

header div.toggle__menu span {
  display: block;
  height: 5%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

header div.toggle__menu span:nth-child(2) {
  position: absolute;
  top: 100%;
}

header div.toggle__menu span:nth-child(3) {
  position: absolute;
  top: 0%;
}

header div.toggle__menu span:nth-child(1).active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header div.toggle__menu span:nth-child(2).active {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header div.toggle__menu span:nth-child(3).active {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header a.scroll__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 90%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

header a.scroll__arrow:hover {
  background-color: #933F4F;
}

header a.scroll__arrow:hover i.arrow {
  color: white;
}

header a.scroll__arrow i.arrow {
  color: black;
  font-size: 3rem;
}

div.side__menu__bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

div.side__menu {
  position: fixed;
  top: 0;
  right: -30%;
  height: 100%;
  width: 20%;
  background-color: #0B1326;
  z-index: 5;
  border-left: 1px solid white;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

div.side__menu div.side__menu__header {
  position: absolute;
  width: 100%;
  height: 110px;
  border-left: none;
  border-right: none;
}

div.side__menu div.side__menu__header h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 95px;
  text-align: center;
  font-weight: 600;
  text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1.5px 1.5px 2px #000, 1px 1px 2px #000;
}

div.side__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}

div.side__menu ul li {
  width: 100%;
  text-align: center;
}

div.side__menu ul li a {
  display: block;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 100px;
}

div.side__menu ul li a:hover {
  color: #969696;
}

div.side__menu.active {
  right: 0;
}

div.side__menu__bg.active {
  display: block;
}

div.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 4px auto;
  width: 100%;
  height: 10vh;
  background-color: #0B1326;
  border-top: 4px solid white;
}

div.categories__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
  height: 100%;
  border-right: 4px solid white;
}

div.products__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 100%;
  text-align: center;
}

div.description h2 {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .3rem;
}

nav.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 150vh;
  background-image: url(../../images/pexels-lisa-1182338.jpg);
  background-position: 50% 80%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 4px;
}

nav.products ul {
  width: 20%;
  height: 100%;
  border-right: 4px solid white;
  list-style: none;
}

nav.products ul li {
  position: relative;
  width: 100%;
  border-bottom: 4px solid white;
  cursor: pointer;
}

nav.products ul li:first-of-type {
  border-top: 4px solid white;
}

nav.products ul li div.sub-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  border-top: 4px solid white;
  display: none;
}

nav.products ul li div.sub-menu a {
  font-size: 1.2em;
  width: 100%;
  height: 25%;
  background-color: #0B1326;
}

nav.products ul li div.sub-menu a:hover {
  background-color: #6D6C5A;
}

nav.products ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 310%;
}

nav.products ul li a:hover i {
  font-size: 2.5rem;
}

nav.products ul li a i {
  position: absolute;
  left: 88%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

nav.products ul li a i.rotate {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

nav.products ul div.search__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20% 20% 1fr;
  -ms-grid-columns: 1fr 80% 1fr;
      grid-template: 1fr 20% 20% 1fr / 1fr 80% 1fr;
  height: 15%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.products ul div.search__container .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  background-color: #fff;
  height: 35px;
  padding-left: 10px;
}

nav.products ul div.search__container .searchbox input.search-txt {
  font-size: 1.1rem;
  width: 100%;
  border: none;
  border-right: 2px solid #0B1326;
  background: none;
  outline: none;
  width: 80%;
  height: 100%;
}

nav.products ul div.search__container .searchbox a.search-btn {
  display: block;
  width: 20%;
  height: 100%;
  text-align: center;
  background-color: #933F4F;
}

nav.products ul div.search__container .searchbox a.search-btn i {
  line-height: 35px;
  color: white;
  font-size: 1.2rem;
}

nav.products ul div.search__container h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 10px;
  font-weight: 300;
}

div.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-height: 100%;
}

div.products__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6%;
  -ms-grid-columns: 1fr 6% 1fr 6% 1fr;
      grid-template: 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6%/ 1fr 6% 1fr 6% 1fr;
      grid-template-areas: "bar bar bar bar bar " "space space space space space " "image1 space2 image2 space3 image3 " "space4 space4 space4 space4 space4 " "bar2 bar2 bar2 bar2 bar2 " "space5 space5 space5 space5 space5 " "image4 space6 image5 space7 image6 " "space8 space8 space8 space8 space8 " "bar3 bar3 bar3 bar3 bar3 " "space9 space9 space9 space9 space9 " "image7 space10 image8 space11 image9 " "space12 space12 space12 space12 space12 " "bar4 bar4 bar4 bar4 bar4 ";
  width: 90%;
  height: 95%;
}

div.type__of__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: bar;
  background-color: #0B1326;
}

div.type__of__products h2 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

div.productOne {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: image1;
}

.allProducts {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../../images/shampoo.jpg);
  background-position: center;
  background-size: cover;
}

.allProducts:hover div.hov {
  left: 0;
  visibility: visible;
}

.allProducts div.hov {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.allProducts div.hov .hov__heart__icon__container {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
  height: 0%;
  padding-bottom: 10%;
}

.allProducts div.hov .hov__heart__icon__container i.fa-heart {
  font-size: 36px;
}

.allProducts div.hov .hov__heart__icon__container i.fa-heart.open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.allProducts div.hov .hov__heart__icon__container i.fa-heart.closed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.allProducts div.hov .hov__heart__icon__container:hover i.fa-heart.closed {
  visibility: visible;
  color: #933F4F;
}

.allProducts div.hov .hov__heart__icon__container:hover i.fa-heart.open {
  visibility: hidden;
  color: #933F4F;
}

.allProducts div.hov .hov__heart__icon__container p {
  margin-top: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.allProducts div.hov .hov__heart__icon__container:hover p {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.allProducts div.hov .buy__now__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
  height: 0%;
  padding-bottom: 10%;
}

.allProducts div.hov .buy__now__container .fa-shopping-cart {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.allProducts div.hov .buy__now__container .fa-shopping-cart:hover {
  color: #933F4F;
}

.allProducts div.hov .buy__now__container p {
  position: absolute;
  display: block;
  width: 400%;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.allProducts div.hov .buy__now__container:hover p {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.allProducts .see__product {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
  height: 0%;
  padding-bottom: 10%;
}

.allProducts .see__product .fa-search {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.allProducts .see__product .fa-search:hover {
  color: #933F4F;
}

.allProducts .see__product p {
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translate(-550%, -50%);
          transform: translate(-550%, -50%);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.allProducts .see__product:hover p {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.productTwo {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: image2;
}

div.productThree {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: image3;
}

div.infoAll {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 10% 1fr 10% 1fr;
      grid-template: 1fr / 1fr 10% 1fr 10% 1fr;
  width: 100%;
  height: 100%;
  background-color: #0B1326;
}

div.products__info1 {
      grid-template-areas: "first sp second sp2 third";
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: bar2;
}

div.products__info1 p {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

div.products__info1 .price h2 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

div.products__info1 .price1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

div.products__info1 .price2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second;
  text-align: center;
}

div.products__info1 .price3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: third;
  text-align: center;
}

div.productFour {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: image4;
}

div.productFive {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: image5;
}

div.productSix {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: image6;
}

div.products__info2 {
      grid-template-areas: "first sp second sp2 third";
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: bar3;
}

div.productSeven {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: image7;
}

div.productEight {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: image8;
}

div.productNine {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
  grid-area: image9;
}

div.products__info3 {
      grid-template-areas: "first sp second sp2 third";
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: bar4;
}

.logo span {
  display: inline-block;
  width: 175px;
  height: 125px;
  text-align: center;
  opacity: 0;
  position: relative;
}

.logo__description {
  opacity: 0;
}

.logo__description span {
  opacity: 0;
}

div.edge-space {
  height: 60vh;
  width: 100%;
  background-color: transparent;
  background-size: cover;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  height: 25vh;
  width: 100%;
  margin-top: 4px;
  background-image: url(../../images/bgg.jpg);
  background-position: 50% 100%;
}

footer .h2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 20%;
}

footer .h2__wrapper h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2em;
}

footer .footer__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

footer .footer__descriptions .description__align {
  text-align: center;
}

footer .footer__descriptions .description__align.align__contact {
  text-align: left;
  margin-left: 20%;
}

footer .footer__descriptions .description__align p {
  margin: 1.3em 0;
  font-size: 1.3em;
  color: white;
}

footer .contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 6 / 2;
  width: 100%;
  height: 100%;
}

footer .social {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 6 / 3;
  width: 100%;
  height: 100%;
}

footer .faq {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 6 / 4;
  width: 100%;
  height: 100%;
}

footer .newsletter {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 6 / 5;
  width: 100%;
  height: 100%;
}

footer .newsletter .newsletter__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr 1fr / 1fr;
  width: 100%;
  height: 70%;
}

footer .newsletter .newsletter__content input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/ 1 / 2 / 2;
  margin: 5% auto;
  height: 40%;
  width: 80%;
}

footer .newsletter .newsletter__content h3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

footer .newsletter .copyrights {
  height: 10%;
  width: 100%;
}

footer .newsletter .copyrights h4 {
  color: white;
  margin-right: 25%;
  text-align: end;
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */