 @import '_variables';

 @mixin flexCenter($direction) {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: $direction;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Unica one';
 }


 ::-webkit-scrollbar {
     display: none;
 }


 @import '_header';
 @import '_side-menu';


 div.description {
     display: flex;
     margin: 0 auto 4px auto;
     width: 100%;
     height: 10vh;
     background-color: $primaryBlueColor;
     border-top: 4px solid white;
 }



 div.categories__description {
     @include flexCenter(row);
     width: 20%;
     height: 100%;
     border-right: 4px solid white;
 }

 div.products__description {
     @include flexCenter(row);
     width: 80%;
     height: 100%;
     text-align: center;

 }

 div.description h2 {
     color: white;
     text-transform: uppercase;
     font-size: 3rem;
     font-weight: 400;
     letter-spacing: .3rem;
 }

 // NAVIGATION
 nav.products {
     display: flex;
     margin: 0 auto;
     width: 100%;
     height: 150vh;
     background-image: url(../../images/pexels-lisa-1182338.jpg);
     background-position: 50% 80%;
     background-size: cover;
     overflow: hidden;
     margin-bottom: 4px;



     ul {
         width: 20%;
         height: 100%;
         border-right: 4px solid white;
         list-style: none;

         li {
             position: relative;
             width: 100%;
             border-bottom: 4px solid white;
             cursor: pointer;

             &:first-of-type {
                 border-top: 4px solid white;
             }




             div.sub-menu {
                 align-items: center;
                 width: 100%;
                 height: 50%;
                 border-top: 4px solid white;
                 display: none;

                 a {
                     font-size: 1.2em;
                     width: 100%;
                     height: 25%;
                     background-color: $primaryBlueColor;

                     &:hover {
                         background-color: #6D6C5A;
                     }
                 }
             }

             a {
                 position: relative;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 height: 100%;
                 width: 100%;
                 color: white;
                 text-align: center;
                 text-decoration: none;
                 text-transform: uppercase;
                 font-size: 2rem;
                 line-height: 310%;

                 &:hover i {
                     font-size: 2.5rem;
                 }


                 i {
                     position: absolute;
                     left: 88%;
                     top: 50%;
                     transform: translate(-50%, -50%);
                     font-size: 2rem;
                     color: white;

                     &.rotate {
                         transform: translate(-50%, -50%) rotate(180deg);
                     }
                 }
             }
         }

         div.search__container {
             display: grid;
             grid-template: 1fr 20% 20% 1fr / 1fr 80% 1fr;
             height: 15%;
             width: 100%;
             align-items: center;

             .searchbox {
                 display: flex;
                 position: relative;
                 grid-area: 3 / 2 / 4 / 3;
                 background-color: #fff;
                 height: 35px;
                 padding-left: 10px;

                 input.search-txt {
                     font-size: 1.1rem;
                     border: none;
                     border-right: 2px solid $primaryBlueColor;
                     background: none;
                     outline: none;
                     width: 80%;
                     height: 100%
                 }

                 a.search-btn {
                     display: block;
                     width: 20%;
                     height: 100%;
                     text-align: center;
                     background-color: $secondaryPinkColor;

                     i {
                         line-height: 35px;
                         color: white;
                         font-size: 1.2rem;
                     }
                 }
             }

             h2 {
                 grid-area: 2 / 2 / 3 / 3;
                 text-align: center;
                 text-transform: uppercase;
                 color: white;
                 letter-spacing: 10px;
                 font-weight: 300;
             }
         }
     }
 }


 //NAVIGATION END

 //PRODUCTS NEXT TO NAV
 div.products__container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80%;
     max-height: 100%;
     overflow-y: scroll;
 }

 div.products__list {
     display: grid;
     grid-template: 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% 2.5% 1fr 2.5% 6% / 1fr 6% 1fr 6% 1fr;
     grid-template-areas:
         "bar bar bar bar bar "
         "space space space space space "
         "image1 space2 image2 space3 image3 "
         "space4 space4 space4 space4 space4 "
         "bar2 bar2 bar2 bar2 bar2 "
         "space5 space5 space5 space5 space5 "
         "image4 space6 image5 space7 image6 "
         "space8 space8 space8 space8 space8 "
         "bar3 bar3 bar3 bar3 bar3 "
         "space9 space9 space9 space9 space9 "
         "image7 space10 image8 space11 image9 "
         "space12 space12 space12 space12 space12 "
         "bar4 bar4 bar4 bar4 bar4 "
         "space13 space13 space13 space13 space13 "
         "image10 space14 image11 space15 image12 "
         "space16 space16 space16 space16 space16 "
         "bar5 bar5 bar5 bar5 bar5 ";

     width: 90%;
     height: 95%;

 }

 div.type__of__products {
     @include flexCenter(row);
     width: 100%;
     height: 100%;
     grid-area: bar;
     background-color: $primaryBlueColor;

     h2 {
         color: white;
         font-size: 3rem;
         text-transform: uppercase;
         font-weight: 300;
     }
 }





 div.productOne {
     width: 100%;
     height: 100%;
     grid-area: image1;

 }

 .allProducts {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 100%;
     background-image: url(../../images/shampoo.jpg);
     background-position: center;
     background-size: cover;

     &:hover div.hov {
         left: 0;
         visibility: visible;
     }

     div.hov {
         position: absolute;
         top: 0;
         left: -100%;
         width: 50%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.8);
         visibility: visible;
         color: white;
         transition: .3s;


         .hov__heart__icon__container {
             position: absolute;
             top: 20%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: 10%;
             height: 0%;
             padding-bottom: 10%;
             //  background-color: #0ff;

             i.fa-heart {
                 font-size: 36px;

                 &.open {
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                 }

                 &.closed {
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                     visibility: hidden;
                 }

             }

             &:hover i.fa-heart.closed {
                 visibility: visible;
                 color: $secondaryPinkColor;
             }

             &:hover i.fa-heart.open {
                 visibility: hidden;
                 color: $secondaryPinkColor;
             }

             p {
                 margin-top: 150%;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-500%, -50%);
                 transition: .3s;
             }

             &:hover p {
                 //  display: inline;
                 transform: translate(-50%, -50%);
             }
         }

         .buy__now__container {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: 10%;
             height: 0%;
             padding-bottom: 10%;

             .fa-shopping-cart {
                 font-size: 32px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-60%, -50%);

                 &:hover {
                     color: $secondaryPinkColor;
                 }
             }

             p {
                 position: absolute;
                 display: block;
                 width: 400%;
                 top: 200%;
                 left: 50%;
                 transform: translate(-500%, -50%);
                 text-align: center;
                 transition: .3s;
             }

             &:hover p {
                 //  display: inline;
                 transform: translate(-50%, -50%);
             }
         }
     }

     .see__product {
         position: absolute;
         top: 80%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 10%;
         height: 0%;
         padding-bottom: 10%;

         .fa-search {
             font-size: 32px;
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);

             &:hover {
                 color: $secondaryPinkColor;
             }
         }

         p {
             position: absolute;
             top: 200%;
             left: 50%;
             transform: translate(-550%, -50%);
             text-align: center;
             transition: .3s;
         }

         &:hover p {
             //  display: inline;
             transform: translate(-50%, -50%);
         }
     }


 }


 div.productTwo {
     grid-area: image2;
 }


 div.productThree {
     grid-area: image3;
 }


 div.infoAll {
     display: grid;
     grid-template: 1fr / 1fr 10% 1fr 10% 1fr;
     width: 100%;
     height: 100%;
     background-color: $primaryBlueColor;

     p {
         color: white;
         font-size: 1.5rem;
         text-transform: uppercase;
     }

     .price h2 {
         color: white;
         font-size: 2rem;
         font-weight: 400;
         text-transform: uppercase;
     }

     .price1 {
         @include flexCenter(column);
         grid-area: first;

     }

     .price2 {
         @include flexCenter(column);
         grid-area: second;
         text-align: center;


     }

     .price3 {
         @include flexCenter(column);
         grid-area: third;
         text-align: center;
     }
 }

 div.products__info1 {
     grid-template-areas: "first sp second sp2 third";
     grid-area: bar2;
 }




 div.productFour {
     grid-area: image4;
 }

 div.productFive {
     grid-area: image5;
 }

 div.productSix {
     grid-area: image6;
 }

 div.products__info2 {
     grid-template-areas: "first sp second sp2 third";
     grid-area: bar3;
 }

 div.productSeven {
     grid-area: image7;
 }

 div.productEight {
     grid-area: image8;
 }

 div.productNine {
     grid-area: image9;
 }

 div.products__info3 {
     grid-template-areas: "first sp second sp2 third";
     grid-area: bar4;
 }

 div.productTen {
     grid-area: image10;
 }

 div.productEleven {
     grid-area: image11;
 }

 div.productTwelve {
     grid-area: image12;
 }

 div.products__info4 {
     grid-template-areas: "first sp second sp2 third";
     grid-area: bar5;
 }

 //PRODUCTS NEXT TO NAV END

 .logo span {
     display: inline-block;
     width: 175px;
     height: 125px;
     text-align: center;
     opacity: 0;
     position: relative;
     //  padding: 0 3rem 0 3rem;
 }

 .logo__description {
     opacity: 0;
 }

 .logo__description span {
     opacity: 0;
 }



 div.edge-space {
     height: 60vh;
     width: 100%;
     background-color: transparent;
     background-size: cover;
     //  border-bottom: 4px solid $secondaryPinkColor;
     //  border-top: 4px solid $secondaryPinkColor;
 }


 //FOOTER 

 footer {
     display: grid;
     grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
     height: 25vh;
     width: 100%;
     margin-top: 4px;
     background-image: url(../../images/bgg.jpg);
     background-position: 50% 100%;
     // headings in footer






     .h2__wrapper {
         display: flex;
         justify-content: center;
         align-items: flex-end;
         width: 100%;
         height: 20%;

         h2 {
             //  margin-top: 8%;
             text-transform: uppercase;
             color: white;
             font-size: 2em;
         }
     }


     .footer__descriptions {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 80%;

         //  background-color: green;

         .description__align {
             text-align: center;

             &.align__contact {
                 text-align: left;
                 margin-left: 20%;

             }

             p {
                 margin: 1.3em 0;
                 font-size: 1.3em;
                 color: white;

             }
         }
     }

     .contact {
         grid-area: 1 / 1 / 6 / 2;
         width: 100%;
         height: 100%;
         //  background-color: #f0f;
     }

     .social {
         grid-area: 1 / 2 / 6 / 3;
         width: 100%;
         height: 100%;
         //  background-color: #0ff;
     }

     .faq {
         grid-area: 1 / 3 / 6 / 4;
         width: 100%;
         height: 100%;
         //  background-color: #00f;
     }

     .newsletter {
         grid-area: 1 / 4 / 6 / 5;
         width: 100%;
         height: 100%;
         //  background-color: #0f0;

         .newsletter__content {
             display: grid;
             grid-template: 1fr 1fr / 1fr;
             width: 100%;
             height: 70%;

             input {
                 grid-area: 1/ 1 / 2 / 2;
                 margin: 5% auto;
                 height: 40%;
                 width: 80%
             }

             h3 {
                 grid-area: 2 / 1 / 3 / 2;
                 text-align: center;
                 letter-spacing: 1px;
                 font-size: 1.2em;
                 font-weight: 300;
                 color: white;
             }
         }

         .copyrights {
             height: 10%;
             width: 100%;

             h4 {
                 color: white;
                 margin-right: 25%;
                 text-align: end;
                 font-weight: 200;


             }
         }

     }
 }